{
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-go-template"
    ],
    "overrides": [
        {
            "files": [
                "*.html"
            ],
            "options": {
                "parser": "go-template"
            }
        }
    ],
    "goTemplateBracketSpacing": true,
    "printWidth": 200,
    "embeddedLanguageFormatting": "auto",
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true
}