@layer components {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply flex  flex-col  h-screen  px-6  m-auto  text-lg  leading-7  max-w-7xl  bg-neutral  text-neutral-900  dark:bg-neutral-800  dark:text-neutral  sm:px-14  md:px-24  lg:px-32;
    }
    pre {
        text-align: left;
    }

    .thumbnail {
        min-width: 300px;
        height: 180px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .thumbnail_card {
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .thumbnail_card_related {
        height: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .thumbnail_card_term {
        height: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .single_hero_basic {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .single_hero_round {
        max-height: 50vh;
        object-fit: cover;
    }

    .single_hero_background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: calc(100% + 40px);
        z-index: -10;
        margin-left: -20px;
    }

    .hero_gradient {
        width: 100%;
        height: 100%;
    }

    .thumbnailshadow {
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.3);
    }

    .anchor {
        display: block;
        position: relative;
        top: -150px;
        height: 0px;
        visibility: hidden;
    }

    @screen sm {
        .thumbnail {
            min-width: 100%;
            height: 180px;
        }
        .article {
            flex-wrap: wrap;
        }
    }

    @screen md {
        .thumbnail {
            min-width: 300px;
            min-height: 180px;
            height: auto;
        }
        .article {
            flex-wrap: nowrap;
        }
    }

    .medium-zoom-image--opened {
        z-index: 100;
    }

    .nested-menu:hover + .menuhide {
        visibility: visible;
        opacity: 1;
        transition:
            visibility 0.3s,
            opacity 0.3s ease-in-out;
    }

    .menuhide:hover {
        visibility: visible;
        opacity: 1;
        transition:
            visibility 0.3s,
            opacity 0.3s ease-in-out;
    }

    .menuhide {
        visibility: hidden;
        opacity: 0;
        transition:
            visibility 0.3s,
            opacity 0.3s ease-in-out;
        z-index: 1000;
    }

    .active {
        text-decoration-line: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 4px;
    }
}
