<div class="min-h-[148px]"></div>
<div class="fixed inset-x-0 pl-[24px] pr-[24px]" style="z-index:100">
  <div id="menu-blur" class="single_hero_background nozoom absolute inset-x-0 top-0 h-full opacity-0 shadow-2xl backdrop-blur-2xl"></div>
  <div class="relative ml-auto mr-auto max-w-[64rem]">
    {{ partial "partials/header/basic.html" . }}
  </div>
</div>
<script>
  window.addEventListener('scroll', function (e) {
    var scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0
    var background_blur = document.getElementById('menu-blur')
    background_blur.style.opacity = scroll / 300
  })
</script>
